h1{
    color:red;
}
/*property:value*/
#home-intro{
    text-align: center;

    border: 3px;     /*  or border: 4px solid black;*/
    border-color: black;
    border-style: solid; /*dotted*/
}
#home-intro:hover{
    background-color: rgb(115, 171, 110);
}
#p2{
    text-align: center;
    color: blue;
}
#nav{
    text-align: center;
    background-color: brown;
    height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
}
#nav a{
    margin:0px 5px;
    text-decoration: none;
    color:white;
}
#card{
    align-items: center;
    margin-top: 5px;
    border:3px solid black;
    width: 300px;
    height: 500px;
    margin:3px auto;
    border-radius: 9px;
}
#card-img{
    width: 300px;
    height: 300px;
    align-items: center;
    margin:0px auto;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 9px;
}
#action{
    text-align: center;
    
}
button{
    width: 100%; 
}
