h1{
    color:red;
}

#home-intro{
    text-align: center;

    border: 3px;     /*  or border: 4px solid black;*/
    border-color: black;
    border-style: solid; /*dotted*/
}
#home-intro:hover{
    background-color: rgb(115, 171, 110);
}
#p1{
    text-align: center;
    color: blue;
}